
TiktokGame2Server/.vs
TiktokGame2Server/.vs/
TiktokGame2Server/TiktokGame2Server/obj
TiktokGame2Server/TiktokGame2Server/bin
external/repo/JFrame/JFrame/obj
external/repo/JFrame/JFrame/bin
TiktokGame2Server/.vs/ProjectEvaluation